.image-product {
  width: 50%;
  height: auto;
}
.page-title{
  padding: 2% 0% 2% 35%;
  font-size: 300%;
  color: white;
  background: #3498db;
}
.product-detail{
  padding: 2% 0% 0% 35%;
}
.add-to-cart{
  margin-bottom: 5%;
  padding: 2% 0% 2% 0%;
}
.product-margin-padding{
  margin-bottom: 1%;
  padding: 2% 0% 2% 18%;
}
